<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>For Amber ❤️</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <img src="/static/kitten.gif" class="kitten">

    <h1>Hey Amber 💕</h1>
    <p>Do you want a special gift?</p>

    <div class="buttons">
        <a href="/gift"><button class="yes">Yes 💖</button></a>
        <button class="no" onclick="moveButton()">No 😢</button>
    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>